<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{css/hash.css}" />
    <script type="text/javascript" th:src="@{js/login.js}"></script>
    <link rel="icon" type="image/png" th:href="@{lock_icon.png}">
    <title>Nameless | Authenticated</title>
</head>

<body>

<header>
    <nav>
    <span>Login</span>
    <a th:href="@{/hsignup}">Sign up</a>
    <a th:href="@{/hlist}">Users</a>
    <a th:href="@{/}">Unhashed version</a>
    </nav>
</header>

<main>
    <h1>Login</h1>
    <form action="#" th:action="@{/hlogin}" method="post" style="margin-bottom: 45px;" th:object="${user}">
	<p>
	    <label for="uname">Username</label><br>
	    <input type="text" th:field="*{uname}" size="45" required="">
	</p>
	<p>
	    <label for="pwd">Password</label><br>
	    <input type="password" th:field="*{pwd}" size="45" required="">
	    <button>Show</button>
	</p>
	<button>Submit</button>
    </form>
    <p class="err" th:if="${feedback}" th:text="${feedback}"></p>
    <p>
	Not registered? <a th:href="@{/hsignup}">Sign up</a>
    </p>
</main>

<footer>
    <p>&#169 2024</p>
</footer>

</body>
</html>
