<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{css/hash.css}" />
    <link rel="icon" type="image/png" th:href="@{lock_icon.png}">
    <title>Nameless | Success</title>
</head>

<body>

<header>
    <nav>
    <a th:href="@{/hlogin}">Login</a>
    <a th:href="@{/hsignup}">Sign up</a>
    <a th:href="@{/hlist}">Users</a>
    <a th:href="@{/}">Unhashed version</a>
    </nav>
</header>

<main>
    <h1>User successfully registered</h1>
    <h2>
	<a th:href="@{/hlogin}">Authenticate</a>
    </h2>
    <h2>
	<a th:href="@{/hsignup}">Register another user</a>
    </h2>
</main>

<footer>
    <p>&#169 2024</p>
</footer>

</body>
</html>
